<div class="container">
    <h2>"<span>"</span></h2>
    
    <h1>Quotes </h1>
  
    <h5> Quotes about life 🕊️ that will inspire positivity and happy feelings😃 while making the world a better place<br>Please make impact by uploading your quote.</h5>

    <div class="row"  >
        <div class="container" style=" display: flex;">
        <div class="quotes col-md-4 " *ngFor='let quote of quotes;let i = index'>
            <div *ngIf="quote.likes == highest; then popular else other"></div>
            <div class="card" style="width: 20rem; height: 23rem; ">
                <div class="card-body">
                    <div>
                        <h3>quote</h3>
                        <p > <em>"</em>{{quote.quote}}<br><em>"</em></p>
                    </div>
                    <div class="vote">
                        <button (click)='toggleDetails(i)'><i class="fas fa-chevron-down"></i></button>

                        <button (click)='upVote()'><i class="fas fa-thumbs-up"></i><span>{{likes}}</span></button>
                        <button (click)='downVote()'><i class="fas fa-thumbs-down"></i><span>{{dislikes}}</span></button>
                    </div>
                    <div *ngIf="quote.showauthor">
                    <app-quote-detail [quote] = 'quote' (isDeleted)='deleteQuote($event,i)'></app-quote-detail>
                </div>
            </div>

            </div>

        </div>
    
    </div>
</div>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>


</div>
