h1 {
    font-family: 'Yellowtail', cursive;
    color: rgb(120, 209, 205);
}

h2 {
    display: flex;
    float: right;
    color: rgb(120, 209, 205);
    font-size: 8rem;
}

em {
    font-size: 3rem;
    color: rgb(120, 209, 205);
}

.fas {
    color: #5450ae;
}

button {
    background: rgb(120, 209, 205);
}

h3 {
    color: #5450ae;
}

h5 {
    text-align: center;
    margin-top: 2rem;
}

span {
    color: #5450ae;
}

.quotes {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.card-body {
    border-right: 8px solid rgb(120, 209, 205);

}

.card-body:hover {
    box-shadow: 8px 5px 5px 5px;
}

.vote {
    display: flex;
    justify-content: space-evenly;
}
.row{
    display: flex;
    flex-direction: row;
}
