
<p>
    <a class="btn generate btn-primary " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Upload Quote
    </a>

</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container-fluid">
            <h2 class="text-center">Create a new <span>Quote</span></h2>

            <form (ngSubmit)='submitQuote(form, form.value)' #form='ngForm'>
                <div class="form-group">
                    <label for="quote">Quote</label>
                    <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" placeholder="Please enter a quote" required></textarea>
                    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                      <p>Please enter a quote</p>
                    </div>
                    </div>
                
                <div class="form-group">

                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' placeholder="Please enter author's name" required>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                      <p>Please enter author's name</p>
                    </div>
                </div>
                <div class="form-group">

                    <label for="submission">Name</label>
                    <input type="text" class="form-control" id="submission" [(ngModel)]="newQuote.submission" name="submission" #submission='ngModel' placeholder="Please enter your name" required>
                    <div [hidden]="submission.valid || submission.pristine" class="alert alert-danger">
                      <p>Please enter your name</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!form.valid">Add Quote</button>
            </form>
        </div>

    </div>
    </div>

