.btn {
    border: none;
    background: rgb(120, 209, 205) 43%;
    font-weight: 900;
    font-size: 20x;
    margin-top: 5.1rem;
    background: linear-gradient(90deg, #3fd1fe 0%, rgb(120, 209, 205) 43%, rgb(1, 1, 12) 43%, rgba(84, 80, 174, 1) 100%);
}

.card {
    width: 60%;
    margin-bottom: 2rem;
}

h2 {
    color: #5450ae;
}

span {
    text-decoration: underline rgb(120, 209, 205) 20%;
}